<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Histoire</h2>
                    <h3 class="section-subheading text-muted">Son Histoire avec des dates.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1869-1876</h4>
                                    <h4 class="subheading">Son enfance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Née en 1869 sans plus de précision, son nom de naissance est ignoré jusqu'à ce jour! 
                                        En 1874 alors agée de cinq ans, sa mère décide d'aller aux champs la laissant avec sa soeur ainée. Le village fut attaqué par des négriers
                                        venu voler. Les pillars emmènent sa soeur ainée tandis qu'elle a la vie sauve grâce à une bonne cachette.<br> Ce fut un terrible chagrin.
                                        En 1876 Elle est enlevée et vendue à un marchand d'esclaves. Après une tentative d'évasion infructueuse avec Dinah
                                        , elle est revendue à un émissaire arabe dépendant d'un riche esclavagiste résidant à El Obeid.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1876-1887</h4>
                                    <h4 class="subheading">L'Esclavage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jusqu'à 1878 elle sera au service des deux filles de l'esclavagiste. Elle sera revendue à un général turc toujours à El Obeid.
                                        Voyage avec la famille du général jusqu'à khartoum et est vendue une quatrième fois à un consul italien Callisto Legnani.<br> A la mi-Mars
                                        1885 ils partent pour l'Italie (Legnani) en enmenant Bakhita. Arrivés en Avril à Gênes celle-ci sera donnée en cadeau au couple Auguste et Turina Michieli
                                        vivant à Zianigo une partie de la commune de Mirano dans la province de Vénétie. Depuis 1886,
                                         à la naissance de leur fille Alice Michieli Bakhita assurera le rôle de nounou.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1888 - 1890</h4>
                                    <h4 class="subheading">Chemin vers la chrétienneté</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Le 28 Novembre Alicia intègre un institut tenue par les canossiennes et Bakhita est acceptée comme catéchumène gratuitement.
                                        Madame Michieli alors installé à Suaki avec son époux revint en Italie chercher Alicia et Bakhita; Cette dernière réfuse de rentrer et 
                                        exprime son désir de rester en Italie au risque de provoquer une grosse colère chez sa patronne.<br> Après un  conflit ouvert, le Procureur du roi la déclare libre 
                                        un 29 novembre 1889. </br> 9 Janvier 1890 Bakhita est baptisée sous les pénoms de Gioseffa (Joséphine) Margherita Fortunata Maria Bakhita.<br>
                                         Le même jour elle reçu égalamenent
                                        la Confirmation et l'Eucharistie.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1893-1946</h4>
                                    <h4 class="subheading">Vie Religieuse</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Elle rentre au noviciat près de l'institut des catéchumènes le 7 décembre qui est aussi 
                                        tenu par les soeurs canossiennes et dirigé par Mère Marietta Fabretti.
                                        Le 21 juin 1895 Bakhita prend officiellement l'habit des religieuses.<br>
                                        Le 8 Décembre elle prononce ses voeux religieux intermédiaires à la mère Anna Previtali. En 1902 
                                        Soeur Bakhita est transférée de Venise à la maison de la Via Fusinato à Schio(Vicence).<br>
                                        De 1907 à 1939 , elle va être aide cuisinière puis cuisinière principale, 
                                        sacristine et aide-infirmière auprès des militaires lors de la première guerre mondiale et va tenir de temps en temps la loge de la portière.
                                        Entre autre il est bon de mentionner que le 10 Aout 1927, Elle va faire sa profession perpétuelle dans la chapelle de la maison de Mirano
                                        Veneto (Venise).<br>
                                        Le 8 décembre 1943 elle célèbre son cinquantième anniversaire de vie religieuse et
                                        marche de plus en plus difficilement utlisant parfois un fauteuil roulant. 
                                        En Décembre 1946, elle contracte une grave pneumonie en plus des différents maux dont elle souffre
                                         (bronchite asthmatique, arthrite, synovite, éléphantiasis), et reçoit les derniers sacrements 
                                         mais réussi à s'en sortir.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1947</h4>
                                    <h4 class="subheading">Mort de la <em><b>Moretta</b></em></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Après avoir subit avec patience héroïque et un joyeuse sérénité une maladie qui rendait sa respiration difficile et 
                                        sa marche pénible, le 8 Février à 11h30 elle communie,à 15h30 reçoit l'extrême onction.<br> A 20h10 Joséphine Bakhita meurt paisiblement à la maison de Schio.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h5></br>Elle </br>est </br>canonisée</br> par </br>
                                     St Jean Paul 2! </br>
                                    </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>